*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-family: 100;
}
#showcase{
    background-image: url('c.jpg');
    height: 1000px;
    width: 1263px;
    padding: 50px;
}

.mainheader{
    background-color:lightpink;
    padding: 8px 16px;
    font-family: "Bebas Neue", sans-serif;
    
}
.mainnav{display: inline-block;
    width: calc(1000px - 0px); 
    text-align:right;
}
.mainnavitem{
    margin: 0;
    padding: 0;
    list-style: none;
} 
.mainnavitems{
    display: inline-block;
    margin: 0 8px;
    
}
.logo{
    color:bisque;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.mainnavitems a{
    text-decoration: none;
    color: darkorange;
}
.mainnavitems::before{
    content: '\2022';
    color: darkorange;
}
.mainnavitems a:hover{
    color: brown;
}
.mainnavitems:hover::before{
    color: brown;
}

.mainnavitems a:active{
    color: #fff;
}
.mainnavitems:active::before{
    color: #fff;
}
.main--login a{
    color: #fff;
    background-color: brown ;
    padding: 4px 16px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.main--login a:hover{
    color: brown;
    border: 2px solid brown;
    background-color: #fff;
}
.main--login::before{
    content: none;
}

#how{
    padding: 10px;
text-align: center;
}
#how h2{
    color: gray;
    font-size: 30px;
    font-weight: 600;
}
.row{
    margin-bottom: 40px;
    
}
.col-3{
    display: inline-block;
    width: 30%;
    padding: 16px;
    margin: 8px;
}
.col-2{
    display: inline-block;
    width: 50%;
    height: 350px;
    background-color: bisque;
    font-family: "Playfair Display", serif;
    vertical-align: top;
}
.icon-box h3{
    color: gray;
    font-size: 26px;
}
.icon-box i{
    color: darksalmon;
}
.features__left{
    background: url(th.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
}
.features__right{
    background-color: gray;
    padding: 40px;
    vertical-align: top;
}
.features__right h3 {
    font-size: 30px;
}
#features a{
    background-color: darksalmon;
    color: darkgoldenrod;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid darksalmon;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
#features a :hover{
    border: 1px solid darksalmon;
    color: darkgoldenrod;
    background-color:white;
}
